.contact:hover{
    box-shadow: 1px 3px 7px 1px #e01818;
}
.banner {
    background-image: url(../img/1.jpg);
    background-size: cover;
    height: 500px;
    color: aliceblue;
}

.heading{
    padding-top: 200px;
    text-align: center;
}
.serve {
    margin-top: -35px;
}
