.contact:hover{
    color: #f1f7f1;
    background-color: #09c509;
    transition: background-color 0.3s ease; 
    transition-delay: 0.2s;
    transition: transform 0.4s ease-out; /* Controls the speed of the animation */
    transform: scale(1.2); /* Increases the image size by 20% */

}

/* navbar hover effect */
.animated-underline {
  position: relative;
}

/* Create the custom underline */
.animated-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -1px;
  left: 0;
  background-color: #0087ca;
  /* Hide the line horizontally by default */
  transform: scaleX(0); 
  
  /* Smooth transition for the scale effect */
  transition: transform 0.3s ease-in-out; 
  /* Originates from the center (change to 'left' to expand from left-to-right) */
  transform-origin: center; 
}
/* Expand the underline on hover */
.animated-underline:hover::after {
  transform: scaleX(1);
}




.banner {
    background-image: url(../img/1.jpg);
    background-size: cover;
    height: 500px;
    color: aliceblue;
}

/* banner img zoom */
.zoom-img {
  transition: transform 0.3s ease-out; /* Controls the speed of the animation */
}

.zoom-img:hover {
  transform: scale(1.5); /* Increases the image size by 20% */
}




.heading{
    padding-top: 200px;
    text-align: center;
}
.serve {
    margin-top: -35px;
}


.navbar-nav {
    padding-left: 75px;
}

/* navbar a */

.dropdown :hover{
    color: rgb(224, 33, 7);
    transform: translateY(1px);
}
.dropdown a:hover::before{
    opacity: 1;
    transform: scale(2);
}

.dropdown:hover::after{
    width: 70%;
}



/* hover effect */
/* Dropdown Menu */

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      list-style: none;
      position: absolute;
      top: 100%;
      background:rgb(54 219 0 / 82%);
      box-shadow: 0 2px 5px rgba(100, 71, 71, 0.1);
      opacity: 0;
      transition: all 0.5s;
      pointer-events: none;
    }

    .dropdown:hover .dropdown-content {
      opacity: 2;
      transform: translateY(1);
      pointer-events: auto;
      padding-top: 5px;
    }

    .dropdown-content a {
      color:rgb(17, 17, 17);
      text-decoration: none;
      display: block;
      padding-right: 25px;
      padding-bottom: 10px;
    }

    .dropdown-content a:hover {
      /* background: #45daee; */
      /* padding-top: 5px;
      padding-left: 10px;
      padding-right: 15px; */
      }
    

/* our project */

 .card1 {
  /* width: 200px; */
  height: 250px;
  margin: 1rem auto;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card1:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.card-front {
  background: white;
  border: 1px solid #e5e7eb;
}

.card-back {
  /* background: #8b5cf6; */
  color: white;
  transform: rotateY(180deg);
}


/* sport */


.container .card2 .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .card2 .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #fff;
}

.container .card2 .slide {
    width: 350px;
    height: 200px;
    transition: 0.5s;
}

.container .card2 .slide.slide1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .7s;
    transform: translateY(100px);
}

.container .card2:hover .slide.slide1{
    transform: translateY(0px);
}

.container .card2 .slide.slide2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* box-sizing: border-box; */
    transition: .8s;
    transform: translateY(-100px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.container .card2:hover .slide.slide2{
    transform: translateY(0);
}

.container .card2 .slide.slide2::after{
    position: absolute;
    width: 30px;
    height: 4px;
    bottom: 15px;
    left: 50%;
    left: 50%;
    transform: translateX(-50%);
}

---------------------------------------------

/* btn hover effect */

.btn {
    position: relative;
    display: inline-block;
}


.btn.btn-border-4::after,
.btn.btn-border-4::before {
    position: absolute;
    content: "";
    height: 0;
    transition: .5s;
}

.btn.btn-border-4::after {
    top: -9px;
    left: -9px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}

.btn.btn-border-4::before {
    bottom: -9px;
    right: -9px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

.btn.btn-border-4:hover {
    color: #f4f4f7;
}

.btn.btn-border-4:hover::after,
.btn.btn-border-4:hover::before {
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    border-color: #da1f06;
}


/* btn  hover effect */
.button {
    display: flex;
    justify-content: center;
    margin-top:50px;
}
button.finbyz-button {
    color: #1aa8e2;
    text-decoration: none;
    background-color: #fff;
    -webkit-transition: .3s all ease;
    transition: .3s ease all;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    border: 3px solid #1aa8e2;
    border-radius: 2px;
    position: relative;
    z-index: 2;
}
button.finbyz-button:before {
    -webkit-transition: .5s all ease;
    transition: .5s all ease;
    position: absolute;
    top: 0;
    left: 70%;
    right: 70%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color:#027702;
    z-index: -1;
    
}
button.finbyz-button:hover,
button.finbyz-button:focus
{
     /* transition: transform 0.4s ease-out;
    transform: scale(1.1); */

  color: #FFF;
}
button.finbyz-button:hover:before,
button.finbyz-button:focus:before{
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.size-btn {
    padding: 15px;
}


/* our services */
.services:hover{
    transition: transform 0.4s ease-out; /* Controls the speed of the animation */
    transform: scale(1.1); /* Increases the image size by 20% */
    cursor: pointer;
}